.header {
  border: 1px solid red;
  padding: 10px;
}

.wmap {
  width: 1200px;
  height: 500px;
  float: left;
  padding: 15px;
  border: 1px solid red;
  overflow:auto;
}


.box {
  width: 550px;
  height: 500px;
  float: left;
  padding: 15px;
  border: 1px solid red;
  overflow:auto;
}

.lbox {
  width: 420px;
  height: 500px;
  float: left;
  padding: 15px;
  border: 1px solid red;
  overflow:scroll;
}
